body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: #d14d01;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.donate {
    padding: 50px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.content h2 {
    color: #333;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

#qr-scanner {
    margin-top: 20px;
}

#qr-scanner img {
    max-width: 100%;
}

footer {
    background: #d14d01;
    padding: 3px;
    text-align: center;
    position: auto;
    bottom: 0;
    width: 100%;
}
